---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div class={noPadding ? "w-full" : "mx-auto max-w-3xl px-4"}>
  <hr class="border-skin-line" aria-hidden={ariaHidden} />
</div>
